/* Импорт шрифтов */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');


* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 90%;
  max-width: 945px;
  margin: auto;
}

.playstation-navbar {
  background-color: #FFFFFF;
  width: auto;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playstation-navbar img {
  width: 48px;
}

.playstation-navbar h1 {
  font-size: 32px;
  line-height: 10px;
  user-select: none;
  font-family: 'Nunito';
}

.playstation-animation {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 700px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Gradient */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.playstation-animation svg {
  position: absolute;
  top: 15%;
}

.playstation-information {
  background-color: #222222;
  color: #ffffff;
}

.playstation-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.playstation-title {
  font-size: 50px;
  line-height: 59px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 20px;
}

.playstation-description {
  font-size: 16px;
  line-height: 28px;
  max-width: 420px;
  margin-bottom: 38px;
}

.playstation-image {
  width: 500px;
  height: 500px;
}

button {
  border: none;
  margin-top: 10px;
  padding: 12px 24px;
  font-size: 16px;
  color: white;
}

.button-light {
  background-color: #0072ce;
}

.button-light:hover {
  background-color: #0080e8;
}

.button-dark {
  background-color: #363636;
}

.button-dark:hover {
  /* background-color: #434343; */
  background-color: #505050;
}

/*
    SLIDES
*/

section {
  padding-top: 92px;
  padding-bottom: 92px;
}

.section-title {
  margin: 0;
  margin-bottom: 84px;
  font-weight: bold;
  line-height: 24px;
}

.project-slide {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
}

.playstation-projects {
  background-color: white;
}

.project-description {
  max-width: 70%;
  padding-right: 10px;
  padding-left: 10px;
}

.project-image {
  width: 240px;
  height: 240px;
}

.project-image img {
  border-radius: 20px;
  width: 100%;
}

.project-title {
  flex-basis: 100%;
  font-weight: bold;
  font-size: 32px;
  line-height: 28px;
  margin: 0px;
  margin-bottom: 15px;
  width: 100%;
}

.project-text {
  font-size: 24px;
  flex-basis: 60%;
  display: flex;
  flex-wrap: wrap;
  font-weight: normal;
}

.project-text p {
  margin: 5px;
}

/*
    FEATURES
*/

.features {
  background-color: #323232;
  color: #FFFFFF;
  text-align: center;
}

.features-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features-item {
  flex-basis: 50%;
  max-width: 300px;
  margin-bottom: 63px;
}

.features-title {
  margin: 0px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 16px;
}

.features-image {
  display: block;
  margin: auto;
  /* margin-bottom: 22px; */
}

.fetures-text {
  margin: 0px;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
}

/*
    FOOTER 
*/

.contacts {
  background-color: #e73c7e;
}

section .container {
  display: flex;
  justify-content: space-between;
}

.contact-form {
  background: #FFFFFF;
  max-width: 400px;
  padding-top: 40px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 40px;
}

.form-title {
  margin: 0px;
  color: black;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 18px;
}

.form-description {
  line-height: 24px;
  font-size: 18px;
}

.input {
  background: #F8F8F8;
  padding: 12px 20px;
  width: 100%;
  border-style: solid;
  border-color: #d2d2d2;
  outline-color: #5a5a5a;
  font-size: 14px;
  line-height: 28px;
}

.input-email {
  margin-bottom: 17px;
}

.form-button {
  width: 100%;
}

.contacts-block {
  min-width: 450px;
  display: flex;
  align-items: center;
}

.social-links {
  display: flex;
  margin-left: 50px;
  width: 100%;
  justify-content: space-between;
}

.social-link {
  margin: auto;
}

.social-icon {
  width: 50px;
}

.social-link:hover {
  filter: invert(1);
}

.contacts-link {
  text-decoration: none;
  color: inherit;
  margin-right: 37px;
}

.contacts-link:hover {
  text-decoration: underline;
}

.contacts-policy {
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #A5A5A5;
  margin-top: 72px;
}

.site-description {
  color: #FFFFFF;
  background-color: #ac1a52;
}
.site-description p {
  margin: 0;
}





























/* REWORK */

@media (max-width: 1100px) {  
  .playstation-navbar {
    padding-left: 50px;
    padding-right: 50px;
  }

  .playstation-navbar img {
    width: 96px;
  }
  
  .playstation-navbar h1 {
    font-size: 64px;
    line-height: 15px;
  }
  
  .playstation-title {
    font-size: 50px;
    line-height: 59px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .playstation-content {
    display: flex;
  }
  
  .playstation-title {
    font-size: 76px;
    line-height: normal;
  }

  .playstation-description {
    font-size: 28px;
    line-height: 48px;
    margin-bottom: 38px;
    max-width: max-content;
  }
  
  button {
    margin-top: 48px;
    padding: 32px 48px;
    font-size: 36px;
  }

  .playstation-controls {
    display: none;
  }


  
  .project-description {
    max-width: 70%;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .project-image {
    /* transform: scale(1.2);
    margin: auto; */
  }
  
  .project-image img {

    /* transform: scale(1.5); */
  }
  
  .project-title {
    font-size: 58px;
    line-height: normal;
    margin: 0px;
    margin-bottom: 15px;
  }
  
  .project-text {
    font-size: 36px;
    flex-basis: 60%;
    display: flex;
    flex-wrap: wrap;
    font-weight: normal;
  }
  
  .project-text p {
    margin: 5px;
  }

  .features-item {
    flex-basis: 50%;
    max-width: 450px;
    margin-bottom: 63px;
  }






  .contacts .container {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  .contacts {
    background-color: #e73c7e;
  }
  
  section .container {
    display: flex;
    justify-content: space-between;
  }
  
  .contact-form {
    max-width: 700px;
    padding-top: 40px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 40px;
  }
  
  .form-title {
    font-size: 64px;
    line-height: normal;
    text-align: center;
    margin-bottom: 18px;
  }
  
  .form-description {
    line-height: normal;
    font-size: 38px;
  }
  
  .input {
    padding: 24px 36px;
    font-size: 38px;
    line-height: 28px;
  }
  
  .input-email {
    margin-bottom: 17px;
  }
  
  .form-button {
    width: 100%;
  }
  
  .contacts-block {
    min-width: 450px;
    display: flex;
    align-items: center;
  }
  
  .social-links {
    display: flex;
    margin-top: 60px;
    margin-left: 0px;
    width: 100%;
    justify-content: space-between;
  }
  
  .social-link {
    margin: auto;
  }
  
  .social-icon {
    width: 120px;
  }
  
  .social-link:hover {
    filter: invert(1);
  }
  
  .contacts-link {
    text-decoration: none;
    color: inherit;
    margin-right: 37px;
  }
  
  .contacts-link:hover {
    text-decoration: underline;
  }
  
  .contacts-policy {
    display: inline-block;
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #A5A5A5;
    margin-top: 72px;
  }
  
  .site-description {
    color: #FFFFFF;
    background-color: #ac1a52;
  }
  .site-description p {
    margin: 0;
  }
  
  
}